<div class="comments-new">
    <form class="comments-new__form" method="POST" action="https://dev.staticman.net/v3/entry/github/holdonl/new_blog/master/comments">
        <h2 class="comments-new__heading">Оставьте комментарий</h2>
        <input name="options[redirect]" type="hidden" value="{{ page.url }}">
        <!-- e.g. "2016-01-02-this-is-a-post" -->
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <label for="comment-name" class="comments-new__label">
            Ваше имя
        </label>
        <!-- <input class="comments-new__field" id="comment-name" name="fields[name]" type="text">
        <label for="comment-email" class="comments-new__label">
            Ваша электронная почта
        </label> -->
        <input class="comments-new__field" id="comment-email" name="fields[email]" type="email">
        <label for="comment-message" class="comments-new__label">
            Ваш комментарий
        </label>
        <textarea class="comments-new__field comments-new__field--textarea" id="comment-message" name="fields[message]"></textarea>

        <button class="comments-new__submit" type="submit">Отправить</button>
    </form>
</div>