.about-me {
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.8em;

    p {
        margin: 0;
        margin-bottom: 100px;
        position: relative;

        &::after {
            content: "";
            width: 180px;
            height: 30px;
            position: absolute;
            background-image: url("../assets/images/separator.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 180px 30px;
            bottom: -65px;
            left: calc(50% - 90px);

        }
    }

    p:last-child::after {
        display: none;
    }

    p:last-child {
        margin-bottom: 0;
    }
}