//// Variables

// Colors
$main-white: #fff;
$main-black: #111111;
$secondary-black: #222222;
$interactive-color: #f3b89b;

$gray-text: #cccccc;


// Mixins

@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin transition {
    transition: ease-in-out 0.5s all;
}

// Fonts from Google

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Podkova:400,700&subset=cyrillic');

// Basic styles

* {
    box-sizing: border-box;
}

// html {
//     scroll-behavior: smooth;
//   }

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-size: 1em;
    background-image: url("../assets/images/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }