.page-main {
    width: 100%;
    min-height: 200px;
    background-color: $main-white;
    padding: 100px;
}

.post-main {
    padding-left: 20vw;
    padding-right: 20vw;

    p {
        font-family: "Podkova", serif;
        font-size: 1.3em;
        line-height: 1.5em;
    }
}