.social-list {
    @include list-reset;
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-left: auto;
}

.social-list__icon {
    @include transition;
}

.social-list__item {
    a {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: top;

        &:hover .social-list__icon,
        &:focus .social-list__icon {
            fill: $interactive-color;
        }
    }
}