<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#edc80c">
    <meta name="Description" content="Автор: Анжела Жадан, Тип: Блог, Страна: Россия, Город: Санкт-Петербург">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Title here</title>
</head>

<body>
    <header class="main-header">
        <p class="main-header__logo logo-text">
            {{site.data.site.logo}}
        </p>
        <nav class="main-header__nav main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <a href="">Blog</a>
                </li>
                <li class="main-nav__item">
                    <a href="">About</a>
                </li>
                <li class="main-nav__item">
                    <a href="">Contact</a>
                </li>
            </ul>
            <ul class="main-nav__social social-list">
                <li class="social-list__item">
                    <a href="">Github</a>
                </li>
                <li class="social-list__item">
                    <a href="">Vkontakte</a>
                </li>
                <li class="social-list__item">
                    <a href="">Twitter</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {{content}}
    </main>


</body>

</html>