<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>
    <div id="top" class="page-container">
        <header class="main-header main-header--post">
            {% include nav.html %}
            <div class="main-header__front front front--post">
                <h1 class="front__heading heading">{{ page.title }}</h1>
                <p class="front__author">
                    {{ page.author }}
                </p>
                <p class="front__date">
                    {{ page.date | date_to_string }}
                </p>
            </div>
        </header>

        <main class="page-main">
            <article class="post">
                {{content}}
            </article>
            {% include comments.html %}
            {% include comments-new.html %}
        </main>
        {% include footer.html %}
    </div>
    {% include scripts.html %}
</body>

</html>